nm_core/novicomat.si/config/*
!nm_core/novicomat.si/config/database.php

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

