/* GENERAL */
.container {
    position: relative;
    width:80%;
    margin: 10px auto;
    border:thin solid rgba(1,1,1,0.3);
    border-radius: 5px;
    box-shadow: 2px 3px 8px #444;
    background: rgba(255, 255, 255, 0.8) url(images/noise.png) repeat;
    min-height: 500px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.container #header {
    background: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid #bbb;
    padding: 10px;
}

header, section, footer { padding:10px; }

/* FRONT ARTICLES */
.front-article {
    position: relative;
    width: 80%; height: 150px;
    margin: 15px 0px 0px;
    padding: 5px 5px 20px;
}

.front-article div { vertical-align: top; }
.front-article div:first-child {
    width:150px;
    border-radius: 5px;
    border: thin solid #444;
    height: 138px;
    background-color: white;
}

.front-article div:first-child img {
    display: block;
    margin: 0px auto;
    height: 100%;
    border-radius: 5px;
}

.front-article p { padding: 0px; margin:0px; }
.front-article ul li { display:inline-block; margin-right:10px; }
.front-article footer, header { padding: 0px; }
.front-article footer {
    width: 100%;
    text-align: right;
}

.front-article .created { opacity: 0.5; margin-bottom: 5px; }
.front-article .content { opacity: 0.8; }

/* EDIT ARTICLE */
#content-edit { }

#content-edit hr { margin-bottom: 15px; }
#content-edit .editable-row { display:table; width: 100%; }
#content-edit .editable-row .first-column { display:table-cell; width:55%; min-width: 450px; padding-right: 20px; }
#content-edit .editable-row .second-column { display:table-cell; vertical-align: top; }

label { font-size: 1.1em; color:#444; line-height:35px; }
label .required { padding-left:5px; color: rgba(255, 0, 0, 0.7); font-size: 1.3em; }

input[type=text], input[type=url], textarea { display: block;  padding: 5px; border:thin solid #999; border-radius: 5px; color:#444; margin-bottom:15px; }
input[type=submit], input[type=button] { border:none; background-color: transparent; background-position: left 7px; padding:5px 25px; font-size: 1.1em; color:#444; margin:7px 14px; }
input[type=submit]:hover, input[type=button]:hover { color:#669dc6; }
input[type=file] { margin-bottom: 15px;}
input[type=url] { width: 90%; }

::-webkit-input-placeholder { color: #555; }
:-moz-placeholder { color: #555; }
::-moz-placeholder { color: #555; }
:-ms-input-placeholder { color: #555; }

#content-edit .article-header-image { height:100%; margin:0px auto; }
#content-edit .media { border-left:thin solid #999; padding-left:10px; }
#content-edit .media li { margin-bottom:5px; font-size:1.1em; opacity:0.8; }
#content-edit .media li img { display: inline-block; vertical-align: middle; height: 21px; width: 21px; opacity: 0.8; }
#content-edit .media li span { vertical-align: middle; padding: 0px 10px; }
#content-edit .media li input[type=checkbox] { display: inline-block; vertical-align: middle; }

#content-edit .image-button { transition: padding 0.2s, border 0.2s; cursor: pointer; }
#content-edit .image-button:hover { transition: padding 0.2s, border 0.2s;  padding: 5px; border:thin solid #999; }

#content-edit .attachment-wrapper { position:relative; width:100%; min-height: 206px; margin-bottom: 13px; box-shadow: 0px 3px 7px rgba(0,0,0,0.5); }
#content-edit .attachment-position-wrapper { width:180px; height:100%; position: absolute; right:0px; top:0px; padding: 5px; border:3px solid transparent; }
#content-edit .attachment-position { float: right; width:100%; height:100%; margin: 0 auto; }
#content-edit .attachment-position tr { padding: 0px 5px; }
#content-edit .attachment-position .area { cursor: pointer; transition:background-color 0.3s, border-width 0.3s; }
#content-edit .attachment-position .area:hover { transition:background-color 0.3s, border-width 0.3s, border-color 0.3s; border-color: #888; border-width:3px; background-color: rgba(62, 154, 219, 0.40); }
#content-edit .attachment-position .selected { background-color: rgba(62, 154, 219, 0.40); }

#content-edit .attachment-image-wrapper { transition:border-color 0.5s; border:3px solid transparent; position:absolute; left:0px; width:300px; height:200px; overflow: hidden; margin: 3px; }
#content-edit .attachment-image-wrapper:hover { transition:border-color 0.3s; border-color: rgba(62, 154, 219, 0.80);  }
#content-edit .attachment-image { display: block; margin: 0px; height:200px; min-width:300px; }
#content-edit .header-image-loading { height: 70px; margin-top: 25%; }
#content-edit .image-loading { min-height:auto; min-width: auto; width:90px; height: 90px; position: absolute; left:29%; top: 23%; }

/* MEDIA QUERIES */

@media screen and (max-width: 1400px) {
    body { font-size: 75%; }
    .container,.front-article { width:90%; }
    .icon { background-size:12px; }
}

@media screen and (max-width: 1000px) {
    #content-edit .editable-row .first-column { width:55%; padding-right: 10px; }
}

@media screen and (max-width: 800px) {
    #content-edit .editable-row .first-column { width:100%; padding-right: 0px; }
}


