#loginForm {
	text-align: center;
	color: #333333;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 320px;
	height: auto;
	height: 270px;

	border-radius: 10px;

	background: -webkit-gradient(linear, center top, center bottom,color-stop(15%, #BBBBBB), color-stop(50%, #494949),color-stop(75%, #181818) );
    background: -moz-linear-gradient(top center, #BBBBBB 15%, #494949 50%, #181818 75% );
  	background: -ms-linear-gradient(top, #BBBBBB 15%, #494949 50%, #181818 75%);
}

.loginInput {
	font-size:15px;

	margin-bottom: 7px;
	margin-top: 7px;
	margin-left: auto;
	margin-right: auto;
	width: 280px;

	height: 30px;
	vertical-align: center;

}

.loginButton {
	font-size:15px;

	margin-bottom: 3px;
	margin-left: auto;

	height: 30px;
	vertical-align: center;
	border-radius: 10px;
}

footer {
	position: absolute;
	margin: auto;
	width:100%;
	right: 0;
	bottom: 0;
	left: 0;
	height: auto;
	text-align: center;
}

header {
	position: absolute;
	margin: auto;
	width:100%;
	right: 0;
	top: 0;
	left: 0;
	height: auto;
	text-align: center;
}