
#Content {
	background-color: #ccdde2;
	color: #333333;
	
	margin:2%;
	width:400px;
	padding:1% 1% 3% 1%;
	border:thin solid #63a086;
}

input { width:90%; }
.button { 
	max-width:150px; 
	background-color:transparent; 
	border:thin solid #63a086; 

	margin-right:17px;
	cursor:pointer;
}
.button:hover { background-color:#143e2c; color:#d5efe4;  }