@import url(http://fonts.googleapis.com/css?family=Lora&subset=latin-ext);

body {
    font-family: 'Lora', serif;
	background-color: white;
    background-image: url(images/bg.png);
    background-size: auto 100%;
    background-attachment: fixed;
    font-weight: 400;
    color:#222;
    font-size: 0.9em;
}

h1, h2, h3 { color:#666; padding: 0px; margin:0px; }
h1 { color: white; font-size: 2em; }
h2 { font-size: 1.7em; color:#666; letter-spacing: 1px; }
h3 { font-size:1.3em; letter-spacing: 1px; }
ul { list-style: none; padding: 0px; }
hr { border:none; border-top:thin solid #bbb; }

a:link { text-decoration: none; color:#666; }
a:visited { color:#666;}
a:hover { color:#333;}
a:active { color:#666;}

.md-modal { font-size: 95%; }
.icon { background-position: left; background-size: 16px; background-repeat: no-repeat; padding-left: 25px; }

.head-navigation a { margin: 0px; padding: 5px 8px; color:white; }
.head-navigation a:hover { color: #7db3d8; }

.magnify-icon { background-image: url(images/icons/svg/search.svg); }
.edit-icon { background-image: url(images/icons/svg/pencil.svg); }
.delete-icon { background-image: url(images/icons/svg/remove.svg); }
.checkout-icon { background-image: url(images/icons/svg/signup.svg); }
.save-icon { background-image: url(images/icons/svg/disk.svg); }
.home-icon { background-image: url(images/icons/svg/home.svg); }
.publish-icon { background-image: url(images/icons/svg/quill.svg); }
.calendar-icon { background-image: url(images/icons/svg/calendar.svg); }
.video-icon { background-image: url(images/icons/svg/film.svg); }
.image-icon { background-image: url(images/icons/svg/image.svg); }
.images-icon { background-image: url(images/icons/svg/images.svg); }
.location-icon { background-image: url(images/icons/svg/location.svg); }
.file-icon { background-image: url(images/icons/svg/box-remove.svg); }
.user-icon { background-image: url(images/icons/svg/user.svg); }
.user2-icon { background-image: url(images/icons/svg/user2.svg); }
.users-icon { background-image: url(images/icons/svg/users.svg); }
.tags-icon { background-image: url(images/icons/svg/tags.svg); }
.cancel-icon { background-image: url(images/icons/svg/blocked.svg); }
.link-icon { background-image: url(images/icons/svg/link.svg); }
.attachment-icon { background-image: url(images/icons/svg/attachment.svg); }
.folder-icon { background-image: url(images/icons/svg/folder-open.svg); }
.crop-icon { background-image: url(images/icons/svg/crop.svg); }
.rotate-left-icon { background-image: url(images/icons/svg/undo.svg); }
.rotate-right-icon { background-image: url(images/icons/svg/redo.svg); }
.list-icon { background-image: url(images/icons/svg/list.svg); }
.file-icon { background-image: url(images/icons/svg/file.svg); }
.eye-icon { background-image: url(images/icons/svg/eye.svg); }
.eye-blocked-icon { background-image: url(images/icons/svg/eye-blocked.svg); }
.locked-icon { background-image: url(images/icons/svg/lock.svg); }
.unlocked-icon { background-image: url(images/icons/svg/unlocked.svg); }
.check-icon { background-image: url(images/icons/svg/checkmark.svg); }
.loading-icon { background-image: url(images/loading.gif); }
.upload-icon { background-image: url(images/icons/svg/box-remove.svg); }
.music-icon { background-image: url(images/icons/svg/music.svg); }
.wand-icon { background-image: url(images/icons/svg/wand.svg); }
.flip-icon { background-image: url(images/icons/svg/flip.svg); }
.flip2-icon { background-image: url(images/icons/svg/flip2.svg); }
.notification-icon { background-image: url(images/icons/svg/notification.svg); background-position: left 0px; opacity: 0.8; font-size: 90%; }
.question-icon { background-image: url(images/icons/svg/question.svg); }
.youtube-icon { background-image: url(images/icons/svg/play.svg); }
.clock-icon { background-image: url(images/icons/svg/clock.svg); }
.clock2-icon { background-image: url(images/icons/svg/clock2.svg); }
.newspaper-icon { background-image: url(images/icons/png/newspaper.png); }
.exit-icon { background-image: url(images/icons/svg/exit.svg); }
.email-icon { background-image: url(images/icons/svg/email.svg); }
.exit2-icon { background-image: url(images/icons/svg/exit2.svg); }
.home2-icon { background-image: url(images/icons/svg/home2.svg); }
.file3-icon { background-image: url(images/icons/svg/file3.svg); }
.edit2-icon { background-image: url(images/icons/svg/pencil2.svg); }
.mail-icon { background-image: url(images/icons/svg/mail.svg); }
.mail2-icon { background-image: url(images/icons/svg/mail2.svg); }
.address-icon { background-image: url(images/icons/svg/address-book.svg); }
.address2-icon { background-image: url(images/icons/svg/address2.svg); }
.settings-icon { background-image: url(images/icons/svg/cogs.svg); }
.pie-icon { background-image: url(images/icons/svg/pie.svg); }
.bars-icon { background-image: url(images/icons/svg/bars.svg); }
.graph-icon { background-image: url(images/icons/svg/graph.svg); }
.statistics-icon { background-image: url(images/icons/svg/statistics.svg); }
.bug-icon { background-image: url(images/icons/svg/bug.svg); }
.bug2-icon { background-image: url(images/icons/svg/bug2.svg); }
.plus-icon { background-image: url(images/icons/svg/plus.svg); }
.twitter-icon { background-image: url(images/icons/svg/twitter.svg); }
.facebook-icon { background-image: url(images/icons/svg/facebook.svg); }