body {
	background-color: white;

	font-family: 'Gilda Display', serif;
	font-weight:400;
	font-size:1em;
	
	color:#EEE;	
	margin-bottom:150px;
	margin-top:0px;
	padding-left:8%;
	padding-right:8%;
}

label { color:#222; font-size:1.1em; }
input {
    font-family: 'Gilda Display', serif;
    font-weight:400;
    color:#444;
    padding:2px; border:thin solid #888;
}

textarea { border-width:thin; border-style:solid; padding:5px 10px 5px 10px; font-size:1.1em; min-width:300px; color:#333; }

h1 { font-weight:400; font-size:1.8em; }
h2 { font-weight:400; font-size:1.2em; padding:3px 3px 3px 6px;  }
h3 { background-color:#174371; font-weight:400; padding:5px; }

hr { border:none; border-bottom:thin solid #CCC; }

a:link { color:white; text-decoration:none; }
a:visited { color:#174371; }
a:hover { color:#d7e9ff; text-decoration:underline; }
a:active {}

.button { 
	display:inline-block; 
	border-right:1px solid white;
	text-transform:uppercase;
	min-width:150px; 
	text-align:center; 
	font-size:0.9em;
	padding:7px 7px; 
	cursor:pointer;
}

.button:hover {
	background-color:white; color:#444; text-decoration:none;
}

#MasterMain {
	background-color:white;
	border:2px solid #BBB;
	opacity:0.95;
}

#MasterHeader {
	background-color: #4c6ca8;
}

#MasterContent {

}

#MasterFooter {
	text-align:center; 
	margin-top:10px; 
	padding:10px 0px 10px 0px;
	color:#333;
}

.small { color:white; font-size:0.8em; margin-left:20px; opacity:0.8; }
.required { color:red; }