.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: currentColor;
}
.icon-home {
	/*fill: #333333;*/
}
.icon-pencil {
	/*fill: #333333;*/
}
.icon-quill {
	/*fill: #333333;*/
}
.icon-image {
	/*fill: #333333;*/
}
.icon-images {
	/*fill: #333333;*/
}
.icon-camera {
	/*fill: #333333;*/
}
.icon-play {
	/*fill: #333333;*/
}
.icon-film {
	/*fill: #333333;*/
}
.icon-file {
	/*fill: #333333;*/
}
.icon-file2 {
	/*fill: #333333;*/
}
.icon-folder-open {
	/*fill: #333333;*/
}
.icon-tag {
	/*fill: #333333;*/
}
.icon-tags {
	/*fill: #333333;*/
	width: 34px;
}
.icon-location {
	/*fill: #333333;*/
}
.icon-clock {
	/*fill: #333333;*/
}
.icon-clock2 {
	/*fill: #333333;*/
}
.icon-calendar {
	/*fill: #333333;*/
}
.icon-print {
	/*fill: #333333;*/
}
.icon-screen {
	/*fill: #333333;*/
}
.icon-mobile {
	/*fill: #333333;*/
}
.icon-box-remove {
	/*fill: #333333;*/
}
.icon-disk {
	/*fill: #333333;*/
}
.icon-undo {
	/*fill: #333333;*/
}
.icon-user {
	/*fill: #333333;*/
}
.icon-users {
	/*fill: #333333;*/
}
.icon-quotes-left {
	/*fill: #333333;*/
}
.icon-search {
	/*fill: #333333;*/
}
.icon-zoomin {
	/*fill: #333333;*/
}
.icon-zoomout {
	/*fill: #333333;*/
}
.icon-expand {
	/*fill: #333333;*/
}
.icon-contract {
	/*fill: #333333;*/
}
.icon-lock {
	/*fill: #333333;*/
}
.icon-unlocked {
	/*fill: #333333;*/
}
.icon-remove {
	/*fill: #333333;*/
}
.icon-signup {
	/*fill: #333333;*/
}
.icon-list {
	/*fill: #333333;*/
}
.icon-link {
	/*fill: #333333;*/
}
.icon-attachment {
	/*fill: #333333;*/
}
.icon-eye {
	/*fill: #333333;*/
}
.icon-eye-blocked {
	/*fill: #333333;*/
}
.icon-warning {
	/*fill: #333333;*/
}
.icon-blocked {
	/*fill: #333333;*/
}
.icon-minus {
	/*fill: #333333;*/
}
.icon-plus {
	/*fill: #333333;*/
}
.icon-mail {
	/*fill: #333333;*/
}
.icon-mail2 {
	/*fill: #333333;*/
}
.icon-googleplus {
	/*fill: #333333;*/
}
.icon-facebook {
	/*fill: #333333;*/
}
.icon-twitter {
	/*fill: #333333;*/
}
.icon-feed {
	/*fill: #333333;*/
}
