/* CSS Document */

.Portal {
	display:inline-block; 
	margin-right:20px;
	border-bottom:1px solid #092949;
	padding-bottom:5px;
}

.article_section {
	padding-left:50px;
	display:none;
	min-height:400px;
}

#MasterMain { min-height:400px; }

article {
    background-color:#346;
    color:white; border-left:2px solid #346;
    padding:1px 0px 1px 8px;
    margin-bottom:30px;
    width:40%; border:2px solid #222;
}
article header h1 {  margin-bottom:4px; margin-top:4px; padding:0px; }
article header h1 a:link {color:white;}
article header h1 a:visited {color:white;}

article footer { width:100%; text-align:right; list-style:none; padding:0px; }
article footer a:link { color:white; }
article footer a:visited { color:white; }

article p { margin:25px 0px; }
article header p { font-size:0.9em; opacity:0.8; margin-top:0px; }

article footer ul {  }

h3 { color:white; }

.master_input { border:thin solid #555; color:#666; font-size:1em; background-color:transparent; padding:4px 8px; cursor:pointer;  }
.master_input:hover { background-color:#00428E; color:white; }
