/* CSS Document */

body {
    padding-top:185px;
    background-image:url('../images/blank.png');
    background-position:left top;
    background-repeat:repeat-x;
    background-size:400px auto;
    overflow-x:hidden;
}

a:link { color: #4c6ca8; }

#MasterMain {
    width:50%;
    min-width:600px;
    margin-left: auto;
    margin-right: auto;
    background:white;
    z-index: 1000;
}

#MasterContent {
	padding:10px 20px 5px 20px;
}

#MasterFooter {
	border-top:#333;
}

.animation_image { position:absolute; bottom:0px; left:0px; opacity:0; z-index:-100; }

.button { margin: 0px; padding-left:50px; padding-right:50px; min-width:auto; text-transform: none; font-size: 1.1em; background-color:transparent; color:#4c6ca8;}
.button:hover { background-color: #4c6ca8; color:white;  }

label { color:#4c6ca8; font-size:1.3em; }